<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>更新ページ</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- ブラウザ全体 -->
	<div id="adminWrap">
	
		<!-- ヘッダー部分 -->
		<div th:insert="~{/common/header :: frag}"></div>
		
		<!-- メニュー部分 -->
		<div id="adminMenu">
			<div class="container">
				<div id="page_title">
					<h2>更新ページ</h2>
				</div>
			</div>
		</div>
		
		<!-- コンテンツ部分 -->
		<div id="main" class="container">
			<!--<a th:href="/orderManagementList">[戻る]</a>-->
			
			<!-- エラーメッセージ -->
			<p class="error-msg" th:if="${message} != null" th:text="${message}"></p>
			
			<!-- 入力フォーム -->
			<form action="/orderUpdate" method="POST" th:object="${order}">
				<div class="adminTable">
				<table class="update-table">
					<tr>
						<td></td>
						<td>現在の状況</td>
						<td>変更</td>
					</tr>
					
					<tr>
						<td>入金状況：</td>
						<td th:text="${old_order.shippingstatus}"></td>
						<td>
							<select name="pay">
								<option value=0>入金待ち</option>
								<option value=1>入金確認済</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>発送状況：</td>
						<td th:text="${old_order.shippingstatus}"></td>
						<td>
							<select name="ship">
								<option value=0>未</option>
								<option value=1>発送準備中</option>
								<option value=2>発送済</option>
							</select>
						</td>
					</tr>
				</table>
				</div>
				
				<input type="hidden" name="orderno" th:value="${old_order.orderno}">
				<input type="submit" value="更新">
			</form>
		
		</div>
		<!-- フッター部分 -->
		<div th:insert="~{/common/footer :: frag}"></div>
		
	</div>
</body>
</html>