<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>登録ページ</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- ブラウザ全体 -->
	<div id="adminWrap">
	
		<!-- ヘッダー部分 -->
		<div th:insert="~{/common/header :: frag}"></div>
		
		<!-- メニュー部分 -->
		<div id="adminMenu">
			<div class="container">
				<!-- ページタイトル -->
				<div id="page_title">
					<h1>新規商品登録</h1>
				</div>
			</div>
		</div>
		
		
		<div class="adminTable">
		   
		    <form th:action="@{/uniformCreate}" method="POST" th:object="${uniform}">
		        
		        <table class="detail-table" align="center">
		            <tr>
		                <td colspan="2"><a th:href="@{/adminUniformList}">戻る</a></td>
		            </tr>
		            <tr>
		                <th>No.</th>
		                <td><input type="text" th:field="*{uniid}"></td>
		            </tr>
		            <tr>
		                <th>種類</th>
		                <td><input type="text" th:field="*{uniname}"></td>
		            </tr>
		            <tr>
		                <th>金額</th>
		                <td><input type="text" th:field="*{price}"></td>
		            </tr>
		            <tr>
		                <th>在庫数</th>
		                <td><input type="text" th:field="*{stock}"></td>
		            </tr>
		        </table>
		        
		        <table align="center">
		            <tr>
		                <td>
		                    <input type="submit" value="登録">
		                </td>
		            </tr>
		        </table>
		        
		    </form>
		</div>
		
		<!-- フッター部分 -->
		<div th:insert="~{/common/footer :: frag}"></div>
		
	</div>
</body>
</html>