<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ユニフォーム一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- ブラウザ全体 -->
	<div id="adminWrap">

		<!-- ヘッダー部分 -->
		<div th:insert="~{/common/header :: frag}"></div>

		<!-- メニュー部分 -->
		<div id="adminMenu">
			<div class="container">
				<!-- ページタイトル -->
				<div id="page_title">
					<h2>変更</h2>
				</div>
			</div>
		</div>

		<!-- コンテンツ部分 -->
		<div id="main" class="container">
			<!-- エラーメッセージ -->
			<p class="error-msg" th:if="${message} != null" th:text="${message}"></p>

			<!-- 入力フォーム -->
			<form action="/uniformUpdate" method="POST" th:object="${uni}">
				<div class="adminTable">

					<table class="update-table" align="center">

						<tr>
							<td></td>
							<td>[変更前]</td>
							<td>[変更後]</td>
						</tr>
						<tr>
							<th>No.</th>
							<td th:text="${old_uni.uniid}"></td>
						</tr>
						<tr>
							<th>種類</th>
							<td　th:text="${old_uni.uniname}"></td>
							<td>
								<input type="text" name="uniname" th:value="*{uniname}">

								<!-- エラーメッセージの表示 -->
								<p th:if="${#fields.hasErrors('uniname')}" th:errors="*{uniname}" class="error-msg">
								</p>
							</td>
						</tr>
						<tr>
							<th>価格</th>
							<td th:text="${old_uni.price}"></td>
							<td>
								<input type="text" name="price" th:value="*{price}">
								<!-- エラーメッセージの表示 -->
								<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-msg">
								</p>
							</td>
						</tr>
						<tr>
							<th>在庫数</th>
							<td th:text="${old_uni.stock}"></td>
							<td>
								<input type="text" name="stock" th:value="*{stock}">
								<!-- エラーメッセージの表示 -->
								<p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="error-msg">
								</p>
							</td>
						</tr>
					</table>
					<tr>
						<td colspan="2"><a th:href="@{/adminUniformList}">戻る</a></td>
					</tr>
					<table align="center">
						<tr>
							<td>
								<input type="hidden" name="uniid" th:value="${old_uni.uniid}">
								<input type="submit" value="変更完了">
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>

		<!-- フッター部分 -->
		<div th:insert="~{/common/footer :: frag}"></div>

	</div>
</body>

</html>