<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ゲスト注文画面</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- ブラウザ全体 -->
	<div id="wrap">

		<!--ヘッダー部分 -->
		<div th:insert="~{common/header :: frag}"></div>

		<!-- メニュー部分 -->
		<div id="menu">
			<div class="container">
				<!-- ナビゲーション  -->
				<div id="nav">
					<ul>
						<li><a th:href="@{/userCreate}">[会員登録]</a></li>
						<li><a th:href="@{/guestUniformList}">[一覧]</a></li>
					</ul>
				</div>

				<!-- ページタイトル -->
				<div id="page_title">
					<h2>カート一覧</h2>
				</div>
			</div>
		</div>

		<!-- コンテンツ部分 -->
		<div id="main" class="container">

			<!-- リスト -->
			<table class="list-table">
				<thead>
					<tr>
						<th>種類</th>
						<th>個数</th>
						<th>金額</th>
						<th>削除</th>
					</tr>
				</thead>
				<!-- リストが空でない場合のみ表示 -->
				<tbody th:if="${uni_list != null and uni_list.size() >= 1}">
					<tr th:each="uniform : ${uni_list}">
						<td><a th:href="@{/detail(isbn=${uniform.uniid})}" th:text="${uniform.uniid}"></a></td>
						<td th:text="${uniform.uniname}"></td>
						<td th:text="'&yen; ' + ${#numbers.formatInteger(uniform.price, 3, 'COMMA')}"></td>
						<!-- 削除ボタン用のリンク-->
						<td>
							<a th:href="@{/guestOrderCreate(delno=${uniform.uniid}, uniIds=${currentUniIds})}">[削除]</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!--合計金額をJava側から受け取ったtotalに連動させる -->
			<h3 th:text="'合計金額 ' + ${#numbers.formatInteger(total, 1, 'COMMA')} + ' 円'">合計金額 0 円</h3>
			
			<div style="text-align: right;">
		
				<form action="/guestDataInput" method="get">
					<!-- 次の画面へ現在のカート情報を引き継ぐための隠しパラメータ -->
					<input type="hidden" name="uniIds" th:value="${currentUniIds}">
					<input type="submit" value="購入">
				</form>
			
			</div>
		
		</div>

		<!-- フッター部分（先頭のスラッシュを削除） -->
		<div th:insert="~{common/footer :: frag}"></div>

	</div>
</body>
</html>