<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ユニフォーム受注管理システム</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<!--ヘッダーの挿入-->
	<div th:insert="~{/common/header :: frag}"></div>

	<div id="menu">
		<div class="container">
			<div id="nav">
				<ul>
					<li><a th:href="@{/guestUniformList}">[一覧]</a></li>
				</ul>
			</div>

			<div id="page_title">
				<h2>購入品確認</h2>
			</div>
		</div>
	</div>


	<div id="main" class="container">

		<p style="text-align: left;">
		<h3>下記商品を購入しました。</h3>
		</p>
		<p style="text-align: left;"></p>
		<h3>ご利用ありがとうございました。</h3>
		</p>

		<table class="list-table">
			<thread>
				<tr>
					<td>種類</td>
					<td>名前</td>
					<td>個数</td>
					<td>金額</td>
				</tr>
			</thread>

			<!--以下リストでデータを取得し、繰り返して表示する-->
			<tbody th:if="${order_list != null and !#lists.isEmpty(order_list)}">

				<tr th th:each="order : ${order_list}">
					</th>
					<td><a th:text="${order.uniid}"></a></td>
					<td th:text="${order.uniform.uniname}"></td>

					<td th:text="'&#165 ' +${#numbers.formatInteger(order.uniform.price, 3, 'COMMA')}"></td>

					<td th:text="${order.quantity}"></td>



				</tr>
			</tbody>


		</table>
		合計金額
		<td th:text="'&#165 ' +${#numbers.formatInteger(total, 3, 'COMMA')}"></td> 円

	</div>

	<!--ここにフッターを挿入-->
	<div th:insert="~{/common/footer :: frag}"></div>

</body>

</html>