<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ゲスト情報入力画面</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- ブラウザ全体 -->
	<div id="wrap">

		<!-- ヘッダー部分 -->
		<div th:insert="~{/common/header :: frag}"></div>

		<!-- メニュー部分 -->
		<div id="menu">
			<div class="container">
				<!-- ナビゲーション -->
				<div id="nav">
					<ul>
						<li><a th:href="@{/guestUniformList}">[一覧]</a></li>
						<li><a th:href="@{/guestOrderCreate}">[カート]</a></li>
					</ul>
				</div>

				<!-- ページタイトル -->
				<div id="page_title">
					<h2>ゲスト情報</h2>
				</div>
			</div>
		</div>

		<!-- 書籍コンテンツ部分 -->
		<div id="main" class="container">
			<!-- エラーメッセージ -->
			<p class="error-msg" th:if="${message} != null" th:text="${message}"></p>
			<form class="inline-block" th:action="@{/guestDataInput}" method="Post">
				<table class="detail-table" align="center">
					<tr>
						<th>氏名</th>
						<td><input type="text" name="guestName" th:value="${guestName}"></td>
					</tr>
					<tr>
						<th>住所</th>
						<td><input type="text" name="guestAddress" th:value="${guestAddress}"></td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td><input type="text" name="guestEmail" th:value="${guestEmail}"></td>
					</tr>
					<tr>
						<th>備考欄</th>
						<td><input type="text" name="notes" th:value="${notes}"></td>
					</tr>
				</table>

				<table align="center">
					<tr>
						<td>
							<input type="submit" value="購入">

						</td>
					</tr>
				</table>
			</form>
		</div>

		<!-- フッター部分 -->
		<div th:insert="~{/common/footer :: frag}"></div>

	</div>
</body>

</html>