<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <!-- ブラウザ全体 -->
    <div id="wrap">

		<div th:insert="~{/common/header :: frag}"></div>
		<div th:insert="~{/common/footer :: frag}"></div>

        <!-- メニュー部分 -->
        <div id="menu">
            <div class="container">
                <!-- ナビゲーション  -->
                <div id="nav">
                    <ul>
                        <!-- ThymeleafのURL形式に修正 -->
                        <li><a th:href="@{/userUniformList}">[一覧]</a></li>
                        <li><a th:href="@{/userOrderHistory}">[注文履歴]</a></li>
                    </ul>
                </div>

                <!-- ページタイトル -->
                <div id="page_title">
                    <h2>マイページ</h2>
                </div>
            </div>
        </div>

        <!-- コンテンツ部分 -->
        <div id="main" class="container">
        	
            <p th:if="${message}" th:text="${message}" style="color:red; text-align:center;"></p>

            <form th:action="@{/userMyPage}" method="POST" th:object="${user}">
                
                <input type="hidden" name="userid" th:value="*{userid}" />
                
                
                <input type="hidden" th:field="*{password}" />
                <input type="hidden" th:field="*{authority}" />

                <table class="input-table" align="center">
                    <tr>
                        <th>氏名</th>
                        <td>
							<input type="text" th:field="*{username}" th:errorclass="error-msg">
							<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>住所</th>
                        <td>
							<input type="text" th:field="*{useraddress}" th:errorclass="error-msg">
							<p th:if="${#fields.hasErrors('useraddress')}" th:errors="*{useraddress}" class="error-msg"></p>
						</td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td>
							<input type="text" th:field="*{email}" th:errorclass="error-msg">
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-msg"></p>
						</td>
                    </tr>
                </table>
                
                <input type="submit" value="変更">
                
            </form>
            
            <form th:action="@{/login}" method="GET">
            	<input type="submit" value="ログアウト">
			</form>
			
        </div>

    </div>
</body>
</html>