<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ゲスト注文画面</title>
	<<link rel="stylesheet" th:href="@{/css/userStyle.css}">
</head>
<body>
	<!-- ブラウザ全体 -->
	<div id="wrap">

		<!--ヘッダー部分  -->
		<div th:insert="~{/common/header :: frag}"></div>

		<!-- メニュー部分 -->
		<div id="menu">
			<div class="container">
				<!-- ナビゲーション  -->
				<div id="nav">
					<ul>
						<li><a href="userCreate.html">[会員登録]</a></li>
						<li><a href="guestUniformList.html">[一覧]</a></li>
					</ul>
				</div>

				<!-- ページタイトル -->
				<div id="page_title">
					<h2>カート一覧</h2>
				</div>
			</div>
		</div>

		<!-- コンテンツ部分 -->
		<div id="main" class="container">

			<!-- リスト -->
			<table class="list-table">
				<thead>
					<tr>
						<th>種類</th>
						<th>個数</th>
						<th>金額</th>
						<th>削除</th>
					</tr>
				</thead><!-- 未変更  -->
				<tbody th:if="${book_list.size() >= 1}">
					<tr th:each="book : ${book_list}">
						<td><a th:href="@{/detail(isbn=${book.isbn})}" th:text="${book.isbn}"></a></td>
						<td th:text="${book.title}"></td>
						<td th:text="'&yen; ' +${#numbers.formatInteger(book.price, 3, 'COMMA')}"></td>
					</tr>
				</tbody>
			</table>
			
			<h3>合計金額        -- 円</h3>
			
			<div style="text-align: right;">
		
				<form action="guestPurchaseConfirm.html" method="POST">
					<input type="submit" value="購入">
				</form>
			
			</div>
		
		</div>

		<!-- フッター部分 -->
		<div th:insert="~{/common/footer :: frag}"></div>

	</div>
</body>
</html>